node-red/flows.json
[{"id":"964d8984.92be6","type":"tab","label":"Door left open","disabled":false,"info":""},{"id":"f22d4091.b0e59","type":"tab","label":"control blinds","disabled":false,"info":""},{"id":"97bc9b28.34dc18","type":"tab","label":"night time from do not disturb","disabled":false,"info":""},{"id":"7f69bb4c.1c7e7c","type":"tab","label":"button control","disabled":false,"info":""},{"id":"edf35c86.c5fe58","type":"tab","label":"lights from doors","disabled":false,"info":""},{"id":"4dde0c30.a6e314","type":"tab","label":"turn on fan based on temperature difference","disabled":false,"info":""},{"id":"7166c55e.1d22c4","type":"tab","label":"door tester","disabled":false,"info":""},{"id":"2784646b.702864","type":"tab","label":"bill leaving work","disabled":false,"info":""},{"id":"8db8071b.d417c8","type":"tab","label":"notifiers","disabled":false,"info":""},{"id":"56bec6bf1af01dfa","type":"tab","label":"vacation mode","disabled":false,"info":""},{"id":"1149698b09937680","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5419622a.b89a2c","type":"subflow","name":"calc other power","info":"","category":"","in":[{"x":140,"y":80,"wires":[{"id":"77546e21.96068"}]}],"out":[{"x":1020,"y":300,"wires":[{"id":"43a724ea.e0465c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"881cc9f2.39273","type":"subflow","name":"phone notifier","info":"","category":"","in":[{"x":20,"y":140,"wires":[{"id":"62899941.d91a2"},{"id":"f3fdbc00.7ce0e"}]}],"out":[{"x":1060,"y":160,"wires":[{"id":"baee501d.5bbfa","port":0}]}],"env":[],"meta":{},"color":"#DDAA99"},{"id":"50f63922.acab88","type":"server","name":"Home Assistant","version":1,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"6e38a796.cc523","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"7359b363.376114","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"50fbbd92.c2c264","type":"server","name":"Home Assistant","addon":true},{"id":"95f6cab1.7f959","type":"server-state-changed","z":"964d8984.92be6","name":"Van Door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.van_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":60,"wires":[["59ab7ab2.6f6804"],["487976fd.841ba"]]},{"id":"828db435.06d0b","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.van_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":160,"wires":[[],["f7b4b265.79b29","f945e57c.a556c","11128bb7.6f3db4"]]},{"id":"db892700.419ac","type":"server-state-changed","z":"964d8984.92be6","name":"Shop door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.shop_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":160,"wires":[["1245c4f0.c8b4f3","59ab7ab2.6f6804"],["487976fd.841ba","7bdf0d2d.98006c"]]},{"id":"c75779da.8fa528","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.shop_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":220,"wires":[[],["14ef45cb.8253fa","bdd581aa.ef854","e2b2ef72.aa9168"]]},{"id":"eeb57529.e587f8","type":"server-state-changed","z":"964d8984.92be6","name":"gym door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.gym_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":260,"wires":[["59ab7ab2.6f6804"],["487976fd.841ba"]]},{"id":"bd6cbcf8.45e808","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.gym_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":280,"wires":[[],["915de68c.e85838","788c7073.014b28","62773acb.c66074"]]},{"id":"12f3f239.52e6ee","type":"server-state-changed","z":"964d8984.92be6","name":"Front door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":360,"wires":[["59ab7ab2.6f6804"],["487976fd.841ba"]]},{"id":"f0aeadd2.aee8f8","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"binary_sensor.front_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":340,"wires":[[],["85b9bd44.d423c8","b93f907f.769e9","b402a322.0f7d8"]]},{"id":"fdccd7b0.8f7148","type":"server-state-changed","z":"964d8984.92be6","name":"Rear door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sliding_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":460,"wires":[[],[]]},{"id":"232005d3.14496a","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"binary_sensor.sliding_door_sensor","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":400,"wires":[[],["11116473.efadf4","ec95711a.39d808","bf240d5a.16fc78"]]},{"id":"fbeff6ad.f0f6d","type":"server-state-changed","z":"964d8984.92be6","name":"side door","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.outside_garage_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":560,"wires":[["e3b9ee57.c53e8"],["6ca11e95.58bfb8"]]},{"id":"ee64c704.888e28","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"binary_sensor.outside_garage_door_sensor","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":"2","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":490,"y":460,"wires":[[],["9b6572ab.54a51","78c5872f.4c6808","f82fbc1f.63d448"]]},{"id":"a5e75531.1dca4","type":"server-state-changed","z":"97bc9b28.34dc18","name":"phone silenced","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pixel_3_do_not_disturb_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["2b734ddb.2a02a2"],[]]},{"id":"1dc128e7.a2b33f","type":"time-range-switch","z":"97bc9b28.34dc18","name":"is it night?","lat":"47.572373","lon":"-122.579473","startTime":"18:30","endTime":"04:00","startOffset":0,"endOffset":0,"x":610,"y":180,"wires":[["e8f1c48.ddc7eb8","62026eb9.72956","10821017.ef096","66150cf4.4cf294","5c4e805a.7bc5","b65e187f.59471"],[]]},{"id":"e3b9ee57.c53e8","type":"time-range-switch","z":"964d8984.92be6","name":"is it night?","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":"","x":410,"y":740,"wires":[["833d7ef8.a0d9f"],[]]},{"id":"72d61af9.645afc","type":"api-call-service","z":"964d8984.92be6","name":"turn on driveway lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.driveway_lights, switch.gable_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":700,"y":860,"wires":[["5f3b1bad.e4db24"]]},{"id":"833d7ef8.a0d9f","type":"api-call-service","z":"964d8984.92be6","name":"turn on gable lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.gable_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":710,"y":760,"wires":[["be873229.fc6dc"]]},{"id":"8d47eb4f.e131","type":"api-call-service","z":"964d8984.92be6","name":"turn on shop driveway lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.shop_driveway_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":720,"y":960,"wires":[["49322e0a.49e878"]]},{"id":"59ab7ab2.6f6804","type":"time-range-switch","z":"964d8984.92be6","name":"is it night?","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":"","endOffset":"","x":410,"y":840,"wires":[["72d61af9.645afc"],[]]},{"id":"1245c4f0.c8b4f3","type":"time-range-switch","z":"964d8984.92be6","name":"is it night?","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":"","x":410,"y":940,"wires":[["8d47eb4f.e131"],[]]},{"id":"acb47e29.6427f","type":"api-call-service","z":"964d8984.92be6","name":"turn off driveway lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.driveway_lights, switch.gable_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1300,"y":1000,"wires":[[]]},{"id":"d08ab683.0ebfa","type":"api-call-service","z":"964d8984.92be6","name":"turn off gable lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.gable_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1310,"y":900,"wires":[[]]},{"id":"2dac17e0.fe28f","type":"api-call-service","z":"964d8984.92be6","name":"turn off shop driveway lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.shop_driveway_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1320,"y":1100,"wires":[[]]},{"id":"442c5f4d.b26548","type":"mqtt in","z":"7f69bb4c.1c7e7c","name":"cassie button press","topic":"buttons/pressed/cassieButton","qos":"2","datatype":"utf8","broker":"7359b363.376114","x":170,"y":180,"wires":[["5906ef33.b9282"]]},{"id":"5906ef33.b9282","type":"switch","z":"7f69bb4c.1c7e7c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"button_single","vt":"str"},{"t":"eq","v":"button_double","vt":"str"},{"t":"eq","v":"button_hold","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":180,"wires":[["f5c178d9.6f9038"],["a088c806.4d1b6"],["7bfe4cb9.751ebc"]]},{"id":"1a7e465a.ca07a2","type":"mqtt in","z":"7f69bb4c.1c7e7c","name":"bill button press","topic":"buttons/pressed/billButton","qos":"2","datatype":"utf8","broker":"7359b363.376114","x":160,"y":360,"wires":[["1e4f25a6.494092"]]},{"id":"1e4f25a6.494092","type":"switch","z":"7f69bb4c.1c7e7c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"button_single","vt":"str"},{"t":"eq","v":"button_double","vt":"str"},{"t":"eq","v":"button_hold","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":390,"y":360,"wires":[["6c105c79.66bd9c"],[],[]]},{"id":"6c105c79.66bd9c","type":"api-call-service","z":"7f69bb4c.1c7e7c","name":"toggle baby lamp","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.baby_lamp","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":670,"y":320,"wires":[[]]},{"id":"39514ed0.fd2eb2","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for van door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.van_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":450,"y":1040,"wires":[["e12ca47e.ad811"],["e12ca47e.ad811"]]},{"id":"e12ca47e.ad811","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for gym door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.gym_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":730,"y":1040,"wires":[["faa8b0be.123738"],["faa8b0be.123738"]]},{"id":"faa8b0be.123738","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for shop door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.shop_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1000,"y":1040,"wires":[["d08ab683.0ebfa"],["d08ab683.0ebfa"]]},{"id":"a60f6451.9fe09","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for van door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.van_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":470,"y":1100,"wires":[["a0b01880.2d38c8"],["a0b01880.2d38c8"]]},{"id":"a0b01880.2d38c8","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for gym door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.gym_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":730,"y":1100,"wires":[["26473ce5.c7919c"],["26473ce5.c7919c"]]},{"id":"26473ce5.c7919c","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for shop door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.shop_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1000,"y":1100,"wires":[["acb47e29.6427f"],["acb47e29.6427f"]]},{"id":"88824807.aa5af8","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for shop door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.shop_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"5","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1000,"y":1160,"wires":[["2dac17e0.fe28f"],["2dac17e0.fe28f"]]},{"id":"6ca11e95.58bfb8","type":"stoptimer","z":"964d8984.92be6","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 minute delay","x":220,"y":1040,"wires":[["39514ed0.fd2eb2"],[]]},{"id":"487976fd.841ba","type":"stoptimer","z":"964d8984.92be6","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 minute delay","x":220,"y":1100,"wires":[["a60f6451.9fe09"],[]]},{"id":"7bdf0d2d.98006c","type":"stoptimer","z":"964d8984.92be6","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 minute delay","x":220,"y":1160,"wires":[["88824807.aa5af8"],[]]},{"id":"be873229.fc6dc","type":"change","z":"964d8984.92be6","name":"payload STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":760,"wires":[["6ca11e95.58bfb8"]]},{"id":"5f3b1bad.e4db24","type":"change","z":"964d8984.92be6","name":"payload STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":860,"wires":[["487976fd.841ba"]]},{"id":"49322e0a.49e878","type":"change","z":"964d8984.92be6","name":"payload STOP timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":960,"wires":[["7bdf0d2d.98006c"]]},{"id":"2a6894dc.43c05c","type":"server-state-changed","z":"edf35c86.c5fe58","name":"laundry-garage door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.laundry_garage_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":100,"wires":[["baca3971.3f1c4"],["c5d6ef96.b4b8f8"]]},{"id":"3f8817d9.92b6a","type":"server-state-changed","z":"edf35c86.c5fe58","name":"side garage door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.outside_garage_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":160,"wires":[["baca3971.3f1c4"],["c5d6ef96.b4b8f8"]]},{"id":"9ea9999b.7d5a9","type":"server-state-changed","z":"edf35c86.c5fe58","name":"van door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.van_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":220,"wires":[["baca3971.3f1c4"],["c5d6ef96.b4b8f8"]]},{"id":"4e3909f.a7e17f8","type":"server-state-changed","z":"edf35c86.c5fe58","name":"empty garage door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.gym_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is_not","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":150,"y":160,"wires":[["baca3971.3f1c4"],["c5d6ef96.b4b8f8"]]},{"id":"baca3971.3f1c4","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn on garage lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.garage_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","x":540,"y":180,"wires":[["3fddba43.e72ed6"]]},{"id":"c5d6ef96.b4b8f8","type":"stoptimer","z":"edf35c86.c5fe58","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"10 minute timer","x":360,"y":460,"wires":[["838c204.5c07a6"],[]]},{"id":"3fddba43.e72ed6","type":"change","z":"edf35c86.c5fe58","name":"stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":200,"wires":[["c5d6ef96.b4b8f8"]]},{"id":"8adb4809.d822d8","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn off garage lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.garage_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":660,"wires":[[]]},{"id":"1e57ed90.1374da","type":"server-state-changed","z":"edf35c86.c5fe58","name":"bedroom door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.bedroom_door_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":110,"y":760,"wires":[["18eb5d0e.2ffa13"],["d1f3bffb.5277b"]]},{"id":"bef67dce.388358","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn on den lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.den_overhead_lights","data":"{ \"brightness_pct\" : 1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1080,"y":760,"wires":[[]]},{"id":"9a00e687.7cac48","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn on upstairs sconces","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.upstairs_sconces","data":"{ \"brightness_pct\" : 1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1090,"y":800,"wires":[[]]},{"id":"c28a2b2f.1c2a08","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn on downstairs sconces","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.downstairs_sconces","data":"{ \"brightness_pct\" : 1}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1100,"y":840,"wires":[[]]},{"id":"18eb5d0e.2ffa13","type":"time-range-switch","z":"edf35c86.c5fe58","name":"is it night","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":280,"y":720,"wires":[["50869f23.1f8db","2bb6bc6a.738d64"],[]]},{"id":"d1f3bffb.5277b","type":"stoptimer","z":"edf35c86.c5fe58","duration":"60","units":"Second","payloadtype":"num","payloadval":"0","name":"1 minute timer","x":200,"y":920,"wires":[["3b74629a.644fa6"],[]]},{"id":"50869f23.1f8db","type":"change","z":"edf35c86.c5fe58","name":"stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":680,"wires":[["d1f3bffb.5277b"]]},{"id":"9530488d.f0082","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn off den lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.den_overhead_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":860,"wires":[[]]},{"id":"f143a4b2.d2f5f8","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn off upstairs sconces","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.upstairs_sconces","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":900,"wires":[[]]},{"id":"16cb9949.03f437","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn off downstairs sconces","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.downstairs_sconces","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":630,"y":940,"wires":[[]]},{"id":"5c289123.96b1","type":"api-call-service","z":"97bc9b28.34dc18","name":"notify me","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"msg.payload","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1380,"y":220,"wires":[[]]},{"id":"fd02a631.53c21","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Front door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":140,"wires":[["5c289123.96b1"]]},{"id":"2e66db1e.3e3674","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Sliding door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":180,"wires":[["5c289123.96b1"]]},{"id":"edb6b7f2.68f308","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Side garage door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":220,"wires":[["5c289123.96b1"]]},{"id":"34fb92df.b55c2e","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Van garage door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":260,"wires":[["5c289123.96b1"]]},{"id":"3f1ab769.e3e238","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Shop garage door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":300,"wires":[["5c289123.96b1"]]},{"id":"9ccd875b.792928","type":"function","z":"97bc9b28.34dc18","name":"","func":"msg.payload = { \"title\":\"Empty garage door left open\",\"message\":\"Go close it\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":340,"wires":[["5c289123.96b1"]]},{"id":"e5e89c61.ea3e48","type":"server-state-changed","z":"97bc9b28.34dc18","name":"goodnight activated","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.goodnight","entityidfiltertype":"exact","outputinitially":false,"state_type":"habool","haltifstate":"true","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":320,"wires":[["4a5c7ae3.680b64"],[]]},{"id":"2ed9b82b.a60988","type":"api-call-service","z":"f22d4091.b0e59","name":"close blinds","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.blinds_window_covering","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":100,"wires":[[]]},{"id":"d1cdaf6b.fc5aa","type":"api-call-service","z":"f22d4091.b0e59","name":"open blinds","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.blinds_window_covering","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1410,"y":260,"wires":[[]]},{"id":"1d70aa.2dd2af57","type":"server-state-changed","z":"f22d4091.b0e59","name":"negative luminance?","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.inovelli_lzw60_4_in_1_sensor_luminance","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"num","halt_if_compare":"lt","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":180,"wires":[[]]},{"id":"1d582ba7.47b944","type":"server-state-changed","z":"edf35c86.c5fe58","name":"check kitchen motion","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motion_sensor_ias_zone","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":1100,"wires":[["9894547f.f15618"],["29e61a33.2e9746"]]},{"id":"9894547f.f15618","type":"time-range-switch","z":"edf35c86.c5fe58","name":"is it night","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":340,"y":1060,"wires":[["4afce280.a9fa84"],[]]},{"id":"4afce280.a9fa84","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn on kitchen lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.kitchen_counter_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":600,"y":1100,"wires":[["fc4c7547.17aa08"]]},{"id":"6adffb83.8a71ec","type":"stoptimer","z":"edf35c86.c5fe58","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"5 minute timer","x":440,"y":1260,"wires":[["928d49ae.103d1"],[]]},{"id":"fc4c7547.17aa08","type":"change","z":"edf35c86.c5fe58","name":"stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":1100,"wires":[["6adffb83.8a71ec"]]},{"id":"f49f371.2d06348","type":"api-call-service","z":"edf35c86.c5fe58","name":"turn off lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.kitchen_counter_lights","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":1240,"wires":[[]]},{"id":"f5c178d9.6f9038","type":"api-call-service","z":"7f69bb4c.1c7e7c","name":"turn on kitchen lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.kitchen_on","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":640,"y":120,"wires":[[]]},{"id":"a088c806.4d1b6","type":"api-call-service","z":"7f69bb4c.1c7e7c","name":"turn on downstairs lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.down_lights_on","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":180,"wires":[[]]},{"id":"7bfe4cb9.751ebc","type":"api-call-service","z":"7f69bb4c.1c7e7c","name":"turn off downstairs lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.down_lights_off","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":650,"y":240,"wires":[[]]},{"id":"43a724ea.e0465c","type":"function","z":"5419622a.b89a2c","name":"calc power","func":"msg.payload = msg.payload[0] - msg.payload[1] - msg.payload[2] - msg.payload[3] - msg.payload[4] - msg.payload[5] - msg.payload[6] - msg.payload[7] - msg.payload[8]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":320,"wires":[[]]},{"id":"4a5c7ae3.680b64","type":"api-call-service","z":"97bc9b28.34dc18","name":"set mode to night","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.mode","data":"{ \"option\" : \"night\" }","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":290,"y":360,"wires":[["e8f1c48.ddc7eb8","62026eb9.72956","10821017.ef096","66150cf4.4cf294","5c4e805a.7bc5","b65e187f.59471"]]},{"id":"77546e21.96068","type":"api-current-state","z":"5419622a.b89a2c","name":"main power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_home_123","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":290,"y":80,"wires":[["7988137c.ed6d1c","c5c2a70a.3bd6b"]]},{"id":"1c50c95c.51f99f","type":"api-current-state","z":"5419622a.b89a2c","name":"waterHeater power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_water_heater_1","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":470,"y":160,"wires":[["c5c2a70a.3bd6b"]]},{"id":"50876a26.931374","type":"api-current-state","z":"5419622a.b89a2c","name":"airHandler power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_air_handler_2","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":470,"y":220,"wires":[["c5c2a70a.3bd6b"]]},{"id":"65430a2f.1b21dc","type":"api-current-state","z":"5419622a.b89a2c","name":"garageFridge power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_garage_fridge_3","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":480,"y":280,"wires":[["c5c2a70a.3bd6b"]]},{"id":"e562c8c6.443068","type":"api-current-state","z":"5419622a.b89a2c","name":"hotTub power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_hot_tub_family_room_4","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":460,"y":340,"wires":[["c5c2a70a.3bd6b"]]},{"id":"56a61a67.b7ab24","type":"api-current-state","z":"5419622a.b89a2c","name":"heat pump power","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_heat_pump_5","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":450,"y":400,"wires":[["c5c2a70a.3bd6b"]]},{"id":"3cad004f.9b417","type":"api-current-state","z":"5419622a.b89a2c","name":"kitchenPower","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_kitchen_fridge_6","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":440,"y":460,"wires":[["c5c2a70a.3bd6b"]]},{"id":"3d827600.532a9a","type":"api-current-state","z":"5419622a.b89a2c","name":"daisyBed","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_daisy_bed_7","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":520,"wires":[["c5c2a70a.3bd6b"]]},{"id":"39ed5be9.baef7c","type":"api-current-state","z":"5419622a.b89a2c","name":"playroom","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.power_play_room_8","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":420,"y":580,"wires":[["c5c2a70a.3bd6b"]]},{"id":"c5c2a70a.3bd6b","type":"join","z":"5419622a.b89a2c","name":"combine","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"9","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":680,"y":360,"wires":[["43a724ea.e0465c"]]},{"id":"7988137c.ed6d1c","type":"stoptimer","z":"5419622a.b89a2c","duration":"1","units":"Second","payloadtype":"num","payloadval":"0","name":"","x":200,"y":360,"wires":[["1c50c95c.51f99f","50876a26.931374","65430a2f.1b21dc","e562c8c6.443068","56a61a67.b7ab24","3cad004f.9b417","3d827600.532a9a","39ed5be9.baef7c"],[]]},{"id":"25323175.95b95e","type":"function","z":"f22d4091.b0e59","name":"","func":"msg.payload = Math.abs(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":200,"wires":[["b86abd56.1ae9b"]]},{"id":"b86abd56.1ae9b","type":"switch","z":"f22d4091.b0e59","name":"bright enough?","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"10000","vt":"str"},{"t":"lt","v":"10000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":800,"y":200,"wires":[["ef8317d3.11a458"],["b2c0da3f.5f5a8"]]},{"id":"7694dc71.2ceeec","type":"time-range-switch","z":"f22d4091.b0e59","name":"daytime","lat":"47.572373","lon":"-122.579473","startTime":"sunrise","endTime":"sunset","startOffset":"+30","endOffset":"-30","x":540,"y":100,"wires":[["25323175.95b95e"],[]]},{"id":"29e61a33.2e9746","type":"time-range-switch","z":"edf35c86.c5fe58","name":"is it night","lat":"47.572373","lon":"-122.579473","startTime":"sunset","endTime":"sunrise","startOffset":0,"endOffset":0,"x":160,"y":1260,"wires":[["6adffb83.8a71ec"],[]]},{"id":"e8f1c48.ddc7eb8","type":"api-current-state","z":"97bc9b28.34dc18","name":"check front door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.front_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":860,"y":140,"wires":[[],["fd02a631.53c21"]]},{"id":"62026eb9.72956","type":"api-current-state","z":"97bc9b28.34dc18","name":"check sliding door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.sliding_door_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":870,"y":180,"wires":[[],["2e66db1e.3e3674"]]},{"id":"10821017.ef096","type":"api-current-state","z":"97bc9b28.34dc18","name":"check side door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.outside_garage_door_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":860,"y":220,"wires":[[],["edb6b7f2.68f308"]]},{"id":"66150cf4.4cf294","type":"api-current-state","z":"97bc9b28.34dc18","name":"check van door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.van_garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":870,"y":260,"wires":[[],["34fb92df.b55c2e"]]},{"id":"5c4e805a.7bc5","type":"api-current-state","z":"97bc9b28.34dc18","name":"check shop door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.shop_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":870,"y":300,"wires":[[],["3f1ab769.e3e238"]]},{"id":"b65e187f.59471","type":"api-current-state","z":"97bc9b28.34dc18","name":"check empty garage door","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.gym_garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":890,"y":340,"wires":[[],["9ccd875b.792928"]]},{"id":"838c204.5c07a6","type":"api-current-state","z":"edf35c86.c5fe58","name":"side door closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.outside_garage_door_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":630,"y":400,"wires":[["191d2b5a.f4e985"],[]]},{"id":"191d2b5a.f4e985","type":"api-current-state","z":"edf35c86.c5fe58","name":"empty door closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.gym_garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":460,"wires":[["769ff3ec.93dee4"],[]]},{"id":"769ff3ec.93dee4","type":"api-current-state","z":"edf35c86.c5fe58","name":"laundry-garage door closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.laundry_garage_door_sensor","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":720,"y":520,"wires":[["15d29dd0.74880a"],[]]},{"id":"15d29dd0.74880a","type":"api-current-state","z":"edf35c86.c5fe58","name":"van garage door closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.van_garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":830,"y":580,"wires":[["8adb4809.d822d8"],[]]},{"id":"2bb6bc6a.738d64","type":"api-current-state","z":"edf35c86.c5fe58","name":"den lights off","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.den_overhead_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":450,"y":740,"wires":[["ab5d3491.4e9bf"],[]]},{"id":"ab5d3491.4e9bf","type":"api-current-state","z":"edf35c86.c5fe58","name":"upstairs sconces off","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.upstairs_sconces","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":660,"y":780,"wires":[["9bbce1c8.c3e8f8"],[]]},{"id":"9bbce1c8.c3e8f8","type":"api-current-state","z":"edf35c86.c5fe58","name":"downstairs sconces off","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.downstairs_sconces","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":840,"y":820,"wires":[["bef67dce.388358","9a00e687.7cac48","c28a2b2f.1c2a08"],[]]},{"id":"3b74629a.644fa6","type":"api-current-state","z":"edf35c86.c5fe58","name":"check mode","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":390,"y":900,"wires":[["9530488d.f0082","f143a4b2.d2f5f8","16cb9949.03f437"],[]]},{"id":"928d49ae.103d1","type":"api-current-state","z":"edf35c86.c5fe58","name":"check mode","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":670,"y":1240,"wires":[["f49f371.2d06348"],[]]},{"id":"2b734ddb.2a02a2","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill home","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.bill_tahler","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":370,"y":180,"wires":[["1dc128e7.a2b33f"],[]]},{"id":"41f7124b.eb9c94","type":"api-current-state","z":"f22d4091.b0e59","name":"no automations","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"no automations","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":100,"wires":[["7694dc71.2ceeec"],[]]},{"id":"63c7864e.8f2cb8","type":"server-state-changed","z":"f22d4091.b0e59","name":"goodnight called","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_select.mode","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"night","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":860,"y":40,"wires":[["2ed9b82b.a60988"],[]]},{"id":"a5959d60.ae0a48","type":"server-state-changed","z":"97bc9b28.34dc18","name":"phone un-silenced","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.pixel_3_do_not_disturb_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":480,"wires":[["234ca4b.f0084dc"],[]]},{"id":"234ca4b.f0084dc","type":"time-range-switch","z":"97bc9b28.34dc18","name":"is it morning?","lat":"47.572373","lon":"-122.579473","startTime":"04:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":340,"y":520,"wires":[["c88bac616f4cdf35"],[]]},{"id":"b2c0da3f.5f5a8","type":"api-current-state","z":"f22d4091.b0e59","name":"","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.blinds_window_covering","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":910,"y":320,"wires":[[],[]]},{"id":"ef8317d3.11a458","type":"api-current-state","z":"f22d4091.b0e59","name":"","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.blinds_window_covering","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1010,"y":100,"wires":[["1a7247e0.a860b"],[]]},{"id":"1a7247e0.a860b","type":"api-current-state","z":"f22d4091.b0e59","name":"","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closing","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"cover.blinds_window_covering","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":1110,"y":160,"wires":[["2ed9b82b.a60988"],[]]},{"id":"4ecb7f4b.7ab5e8","type":"poll-state","z":"4dde0c30.a6e314","name":"check upstairs temperature","server":"50f63922.acab88","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"5","updateIntervalUnits":"minutes","outputinitially":true,"outputonchanged":false,"entity_id":"sensor.upstairs_sensor_temperature","state_type":"str","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":180,"y":180,"wires":[["34ecfd5e.fbcbca","be81405f.e84968"]]},{"id":"34ecfd5e.fbcbca","type":"join","z":"4dde0c30.a6e314","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":500,"y":240,"wires":[["a0a110bc.09da98"]]},{"id":"a0a110bc.09da98","type":"function","z":"4dde0c30.a6e314","name":"check diff","func":"msg.payload = msg.payload[0] - msg.payload[1]\nif (msg.payload >= 2) {\n    msg.payload = \"turn on\"\n} else {\n    msg.payload = \"do nothing\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":240,"wires":[["62716e9a.d1486"]]},{"id":"be81405f.e84968","type":"api-current-state","z":"4dde0c30.a6e314","name":"check downstairs temp","server":"50f63922.acab88","version":2,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.den_temperature_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"x":220,"y":300,"wires":[["34ecfd5e.fbcbca"]]},{"id":"62716e9a.d1486","type":"switch","z":"4dde0c30.a6e314","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"turn on","vt":"str"},{"t":"eq","v":"do nothing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":240,"wires":[[],[]]},{"id":"89510906.d4e108","type":"api-call-service","z":"4dde0c30.a6e314","name":"turn on fan","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ceiling_fan","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":180,"wires":[[]]},{"id":"7f6b24d7.2d04d4","type":"api-current-state","z":"f22d4091.b0e59","name":"check if at desk","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.blindcontrol","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"x":360,"y":220,"wires":[["41f7124b.eb9c94"],[]]},{"id":"3e852a8c.139aa6","type":"api-call-service","z":"4dde0c30.a6e314","name":"turn on fan","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ceiling_fan","data":"{}","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":280,"wires":[[]]},{"id":"f7b4b265.79b29","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":20,"wires":[["1e387dd5.d132f2"],[]]},{"id":"f945e57c.a556c","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":60,"wires":[["75da1b35.f2b2b4"],[]]},{"id":"75da1b35.f2b2b4","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Van garage door open\",\t   \"data\":{\"tag\":\"vanopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":60,"wires":[[]]},{"id":"1e387dd5.d132f2","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Van garage door open\",\t   \"data\":\t   {\t        \"tag\":\"vanopen\",\t        \"actions\": [\t        {\t            \"action\":\"closevan\",\t            \"title\":\"Close\"\t        }\t        ]\t   }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":20,"wires":[[]]},{"id":"11128bb7.6f3db4","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Van garage door open\",\t   \"data\":{\"tag\":\"vanopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":100,"wires":[[]]},{"id":"14ef45cb.8253fa","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":140,"wires":[["e61ecc5a.f1317"],[]]},{"id":"bdd581aa.ef854","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":180,"wires":[["4786ccef.f1f5f4"],[]]},{"id":"4786ccef.f1f5f4","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Shop door open\",\t   \"data\":{\"tag\":\"shopopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":180,"wires":[[]]},{"id":"e61ecc5a.f1317","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Shop door open\",\t   \"data\":{\"tag\":\"shopopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":140,"wires":[[]]},{"id":"e2b2ef72.aa9168","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Shop door open\",\t   \"data\":{\"tag\":\"shopopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":220,"wires":[[]]},{"id":"915de68c.e85838","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":260,"wires":[["c4e930b5.032708"],[]]},{"id":"788c7073.014b28","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":300,"wires":[["a4b0e485.197d4"],[]]},{"id":"a4b0e485.197d4","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Gym garage door open\",\t   \"data\":{\"tag\":\"gymopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":300,"wires":[[]]},{"id":"c4e930b5.032708","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Gym garage door open\",\t   \"data\":{\"tag\":\"gymopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":260,"wires":[[]]},{"id":"62773acb.c66074","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Gym garage door open\",\t   \"data\":{\"tag\":\"gymopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":340,"wires":[[]]},{"id":"85b9bd44.d423c8","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":380,"wires":[["1b549134.15d387"],[]]},{"id":"b93f907f.769e9","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":420,"wires":[["95321496.d76c6"],[]]},{"id":"95321496.d76c6","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Front door open\",\t   \"data\":{\"tag\":\"frontopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":420,"wires":[[]]},{"id":"1b549134.15d387","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Front door open\",\t   \"data\":{\"tag\":\"frontopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":380,"wires":[[]]},{"id":"b402a322.0f7d8","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Front door open\",\t   \"data\":{\"tag\":\"frontopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":460,"wires":[[]]},{"id":"11116473.efadf4","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":500,"wires":[["8233d73f.f3b52"],[]]},{"id":"ec95711a.39d808","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":540,"wires":[["1337795c.a9f19f"],[]]},{"id":"1337795c.a9f19f","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Sliding door open\",\t   \"data\":{\"tag\":\"slidingopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":540,"wires":[[]]},{"id":"8233d73f.f3b52","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Sliding door open\",\t   \"data\":{\"tag\":\"slidingopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":500,"wires":[[]]},{"id":"bf240d5a.16fc78","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Sliding door open\",\t   \"data\":{\"tag\":\"slidingopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":580,"wires":[[]]},{"id":"9b6572ab.54a51","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in work phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":620,"wires":[["6305da1c.f02ed4"],[]]},{"id":"78c5872f.4c6808","type":"api-current-state","z":"964d8984.92be6","name":"check if sim is in cam phone","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":660,"wires":[["758f9bef.767a5c"],[]]},{"id":"758f9bef.767a5c","type":"api-call-service","z":"964d8984.92be6","name":"notify cam phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Side garage door open\",\t   \"data\":{\"tag\":\"sideopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":660,"wires":[[]]},{"id":"6305da1c.f02ed4","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Side garage door open\",\t   \"data\":{\"tag\":\"sideopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":620,"wires":[[]]},{"id":"f82fbc1f.63d448","type":"api-call-service","z":"964d8984.92be6","name":"notify cass phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_3","entityId":"","data":"{\t   \"message\":\"Open for 2 minutes\",\t   \"title\":\"Side garage door open\",\t   \"data\":{\"tag\":\"sideopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1050,"y":700,"wires":[[]]},{"id":"a671047c.ed81c8","type":"inject","z":"964d8984.92be6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":470,"y":40,"wires":[["1e387dd5.d132f2"]]},{"id":"fcf9452b.84555","type":"ha-wait-until","z":"964d8984.92be6","name":"wait for van door to close","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"cover.van_garage_door","entityIdFilterType":"exact","property":"state","comparator":"is","value":"closed","valueType":"str","timeout":"10","timeoutType":"num","timeoutUnits":"hours","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1310,"y":20,"wires":[["55415c1f.a1a25c"],["55415c1f.a1a25c"]]},{"id":"55415c1f.a1a25c","type":"api-call-service","z":"964d8984.92be6","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"clear_notification\",\t   \"data\":\t   {\t        \"tag\":\"vanopen\"\t    }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1550,"y":20,"wires":[[]]},{"id":"627c6103.d9ffa8","type":"server-events","z":"964d8984.92be6","name":"close request bill work pixel","server":"50f63922.acab88","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":1380,"y":80,"wires":[["324a0fd5.6214a8"]]},{"id":"324a0fd5.6214a8","type":"switch","z":"964d8984.92be6","name":"which door to close","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"closevan","vt":"str"},{"t":"eq","v":"closeshop","vt":"str"},{"t":"eq","v":"closegym","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":1670,"y":120,"wires":[[],[],[]]},{"id":"c467b815.b0be9","type":"debug","z":"964d8984.92be6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2010,"y":40,"wires":[]},{"id":"7263b3ef.fc5244","type":"server-state-changed","z":"97bc9b28.34dc18","name":"bill work phone charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.oneplus8_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sim","propertyType":"msg","value":"sensor.bill_work_pixel_sim_1","valueType":"str"}],"x":150,"y":660,"wires":[["15ddea7e.01b48e"],[]]},{"id":"322a3263.ee8ede","type":"server-state-changed","z":"97bc9b28.34dc18","name":"bill cam phone charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pixel_3_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.pixel_3_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sim","propertyType":"msg","value":"sensor.pixel_3_sim_1","valueType":"str"}],"x":120,"y":720,"wires":[["15ddea7e.01b48e"],[]]},{"id":"1bcb814c.b516ff","type":"server-state-changed","z":"97bc9b28.34dc18","name":"cassie phone charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cassie_pixel_4_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":840,"wires":[["338551ee8ba58f2b"],[]]},{"id":"15ddea7e.01b48e","type":"api-current-state","z":"97bc9b28.34dc18","name":"check if sim inserted","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Visible","halt_if_type":"str","halt_if_compare":"is","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":680,"wires":[["2b461e13e85ebb8c"],[]]},{"id":"2b238e47.39242a","type":"time-range-switch","z":"97bc9b28.34dc18","name":"is it night?","lat":"47.572373","lon":"-122.579473","startTime":"19:00","endTime":"23:59","startOffset":0,"endOffset":0,"x":1640,"y":760,"wires":[["6309753e.0d0c7c"],[]]},{"id":"8ee2ff7.fa9aa8","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill work phone charging?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.oneplus8_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":780,"wires":[["26ef31b3.c9d38e"],[]]},{"id":"6cd73bd.e184344","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill cam phone charging?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pixel_3_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.pixel_3_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":580,"y":860,"wires":[["26ef31b3.c9d38e"],[]]},{"id":"26ef31b3.c9d38e","type":"api-current-state","z":"97bc9b28.34dc18","name":"check if sim inserted","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Visible","halt_if_type":"str","halt_if_compare":"is","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":820,"wires":[[],[]]},{"id":"98b0bccb.4b629","type":"api-current-state","z":"97bc9b28.34dc18","name":"is cass phone charging","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.cassie_pixel_4_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1440,"y":620,"wires":[["2b238e47.39242a"],[]]},{"id":"ed2e65b4.535368","type":"api-call-service","z":"97bc9b28.34dc18","name":"goodnight","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.goodnight","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":2140,"y":720,"wires":[[]]},{"id":"e3f378a3.eae96","type":"inject","z":"97bc9b28.34dc18","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","payloadType":"jsonata","x":1810,"y":480,"wires":[[]]},{"id":"893b3db8.326758","type":"server-state-changed","z":"7166c55e.1d22c4","name":"van door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.van_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"Van door open for 10 minutes","valueType":"str"},{"property":"title","propertyType":"msg","value":"Van Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":270,"y":80,"wires":[["510fb229.c31834"],[]]},{"id":"19c81f90.680128","type":"api-current-state","z":"7166c55e.1d22c4","name":"check bill work phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_bill_work_pixel","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":80,"wires":[["2077bfab.9995f"],[]]},{"id":"ee4a8ea1.6db8b","type":"api-current-state","z":"7166c55e.1d22c4","name":"check bill cam phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_pixel_3","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":140,"wires":[["2077bfab.9995f"],[]]},{"id":"b73e043b.8bbf2","type":"function","z":"7166c55e.1d22c4","name":"","func":"msg.phone = \"mobile_app_cassie_pixel_3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":200,"wires":[["2077bfab.9995f"]]},{"id":"304655ec.e4d052","type":"api-call-service","z":"7166c55e.1d22c4","name":"notify phone actionable","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1360,"y":160,"wires":[[]]},{"id":"a879c86c.ce52b8","type":"inject","z":"7166c55e.1d22c4","name":"","props":[{"p":"payload"},{"p":"door","v":"cover.van_garage_door","vt":"str"},{"p":"actionable","v":"true","vt":"bool"},{"p":"msg","v":"van door left open","vt":"str"},{"p":"title","v":"Van Door Open","vt":"str"},{"p":"persistent","v":"false","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":610,"y":300,"wires":[["13f5d670.7242a2"]]},{"id":"6309753e.0d0c7c","type":"api-current-state","z":"97bc9b28.34dc18","name":"mode NOT night","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"night","halt_if_type":"str","halt_if_compare":"is_not","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1860,"y":760,"wires":[["ed2e65b4.535368","4d50de95.50a1b8"],[]]},{"id":"4d50de95.50a1b8","type":"api-current-state","z":"97bc9b28.34dc18","name":"any doors open?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.doorsensors","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":2110,"y":820,"wires":[[],[]]},{"id":"62899941.d91a2","type":"api-current-state","z":"881cc9f2.39273","name":"check bill work phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_bill_work_pixel","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":120,"wires":[["874a4934.b5035"],[]]},{"id":"f3fdbc00.7ce0e","type":"api-current-state","z":"881cc9f2.39273","name":"check bill cam phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_pixel_3","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":160,"wires":[["568de398.31b5c4"],[]]},{"id":"baee501d.5bbfa","type":"api-call-service","z":"881cc9f2.39273","name":"notify phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"{{service}}","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":910,"y":140,"wires":[[]]},{"id":"1591b055.9931a","type":"server-events","z":"881cc9f2.39273","name":"action request from phone","server":"50f63922.acab88","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"$outputData(\"eventData\").event_type","valueType":"jsonata"}],"x":430,"y":340,"wires":[["43e6c874.8557c8"]]},{"id":"43e6c874.8557c8","type":"debug","z":"881cc9f2.39273","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"6afc1718.7631c8","type":"api-current-state","z":"7166c55e.1d22c4","name":"check bill work phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.bill_work_pixel_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_bill_work_pixel","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":640,"wires":[["3beaba3d.b449fe"],[]]},{"id":"57c43e00.6b0f14","type":"api-current-state","z":"7166c55e.1d22c4","name":"check bill cam phone sim","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Mint","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.pixel_3_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"phone","propertyType":"msg","value":"mobile_app_pixel_3","valueType":"str"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":360,"y":680,"wires":[["3beaba3d.b449fe"],[]]},{"id":"9393d26e.a255e","type":"function","z":"7166c55e.1d22c4","name":"","func":"msg.phone = \"mobile_app_cassie_pixel_3\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":720,"wires":[["3beaba3d.b449fe"]]},{"id":"3beaba3d.b449fe","type":"api-call-service","z":"7166c55e.1d22c4","name":"notify phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"{{phone}}","entityId":"","data":"{\t   \"message\":\"Open for \" & time & \" minutes\",\t   \"title\":door & \" door open\",\t   \"data\":{\"tag\":\"vanopen\"}\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":680,"wires":[[]]},{"id":"edd0f79e.2ae19","type":"server-events","z":"7166c55e.1d22c4","name":"action request from phone","server":"50f63922.acab88","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"entity_id","propertyType":"msg","value":"$outputData(\"eventData\").event.tag","valueType":"jsonata"},{"property":"door","propertyType":"msg","value":"$outputData(\"eventData\").event.tag","valueType":"jsonata"},{"property":"action","propertyType":"msg","value":"$outputData(\"eventData\").event.action","valueType":"jsonata"}],"x":460,"y":400,"wires":[["a55e1934.909318"]]},{"id":"b8603b3b.b62d1","type":"inject","z":"7166c55e.1d22c4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"phone","v":"mobile_app_pixel_3","vt":"str"},{"p":"door","v":"cover.van_garage_door","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":300,"y":800,"wires":[["8eb3cf33.5f45b8"]]},{"id":"8eb3cf33.5f45b8","type":"api-call-service","z":"7166c55e.1d22c4","name":"notify phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"{{phone}}","entityId":"","data":"{\t   \"message\":\"test\",\t   \"title\":\"test\",\t   \"data\":\t   {\t        \"tag\":door,\t        \"actions\":\t            [{\t            \"action\": \"testpush\",\t            \"title\": \"push button\"\t            }]\t    }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":800,"wires":[[]]},{"id":"aa0241b3.4e6d","type":"server-state-changed","z":"7166c55e.1d22c4","name":"shop door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.shop_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"5","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"Shop door open for 10 minutes","valueType":"str"},{"property":"title","propertyType":"msg","value":"Shop Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":270,"y":120,"wires":[["510fb229.c31834"],[]]},{"id":"872e867.6d306f8","type":"server-state-changed","z":"7166c55e.1d22c4","name":"gym door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.gym_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"open","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"Gym garage door open for 10 minutes","valueType":"str"},{"property":"title","propertyType":"msg","value":"Gym Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":270,"y":160,"wires":[["510fb229.c31834"],[]]},{"id":"951e9ec3.49c84","type":"server-state-changed","z":"7166c55e.1d22c4","name":"front door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"30","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"Front door left open 30 seconds","valueType":"str"},{"property":"title","propertyType":"msg","value":"Front Door Open","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":270,"y":220,"wires":[["7d64405.3a3dbc"],[]]},{"id":"c494c48a.0a13d","type":"server-state-changed","z":"7166c55e.1d22c4","name":"sliding door open","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sliding_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"2","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"Sliding door open for 2 minutes","valueType":"str"},{"property":"title","propertyType":"msg","value":"Sliding Door Open","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":270,"y":260,"wires":[["7d64405.3a3dbc"],[]]},{"id":"2077bfab.9995f","type":"switch","z":"7166c55e.1d22c4","name":"","property":"actionable","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1080,"y":120,"wires":[["ed5470a6.936688"],["e3dcb23b.8af038"]]},{"id":"88d88b4d.fa8398","type":"api-call-service","z":"7166c55e.1d22c4","name":"notify phone no action","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"","entityId":"","data":"","dataType":"json","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":220,"wires":[[]]},{"id":"ed5470a6.936688","type":"function","z":"7166c55e.1d22c4","name":"create message","func":"msg.payload = {\n    service: msg.phone,\n    data: {\n        message: msg.msg,\n        title: msg.title,\n        data: {\n            tag: msg.door,\n            persistent: msg.persistent,\n            actions: msg.action,\n            icon_url: \"/media/local/icons/garage-open.png\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":100,"wires":[["304655ec.e4d052"]]},{"id":"13f5d670.7242a2","type":"function","z":"7166c55e.1d22c4","name":"create message","func":"msg.action = [\t   \n    {\n        action:\"close\",\t\n        title:\"Close now\"\t\n    },\t   \n    {\n        action:\"snooze\",\n        title:\"Snooze 30 minutes\"\n    }\t\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":300,"wires":[["ee4a8ea1.6db8b"]]},{"id":"a55e1934.909318","type":"switch","z":"7166c55e.1d22c4","name":"check if snooze","property":"action","propertyType":"msg","rules":[{"t":"cont","v":"close","vt":"str"},{"t":"cont","v":"snooze","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":480,"wires":[["38e340de.563f2"],["13560822.da3508"],[]]},{"id":"38e340de.563f2","type":"api-call-service","z":"7166c55e.1d22c4","name":"close door","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"{{door}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":860,"y":420,"wires":[[]]},{"id":"13560822.da3508","type":"delay","z":"7166c55e.1d22c4","name":"wait 20 minutes","pauseType":"delay","timeout":"20","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":500,"wires":[["9b27b9c7.1806e8"]]},{"id":"e3dcb23b.8af038","type":"function","z":"7166c55e.1d22c4","name":"create message","func":"msg.payload = {\n    service: msg.phone,\n    data: {\n        message: msg.msg,\n        title: msg.title,\n        icon_url: \"/media/local/icons/garage-open.png\"\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1170,"y":200,"wires":[["88d88b4d.fa8398"]]},{"id":"bbcfa7cb.091468","type":"api-call-service","z":"97bc9b28.34dc18","name":"update cassie phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_cassie_pixel_4","entityId":"","data":"{\"title\":\"bedtime\",\"message\": \"request_location_update\"}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1060,"y":620,"wires":[["e59b458f.91a278"]]},{"id":"e59b458f.91a278","type":"delay","z":"97bc9b28.34dc18","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1260,"y":620,"wires":[["98b0bccb.4b629"]]},{"id":"510fb229.c31834","type":"function","z":"7166c55e.1d22c4","name":"add action to message","func":"msg.action = [\t   \n    {\n        action:\"close\",\t\n        title:\"Close now\"\t\n    },\t   \n    {\n        action:\"snooze\",\n        title:\"Snooze 20 minutes\"\n    }\t\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":100,"wires":[["19c81f90.680128","ee4a8ea1.6db8b","b73e043b.8bbf2"]]},{"id":"7d64405.3a3dbc","type":"function","z":"7166c55e.1d22c4","name":"add action to message","func":"msg.action = [\t   \n    {\n        action:\"snooze\",\n        title:\"Snooze 20 minutes\"\n    }\t\n]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":240,"wires":[["19c81f90.680128","ee4a8ea1.6db8b","b73e043b.8bbf2"]]},{"id":"a914b085.62caf","type":"function","z":"7166c55e.1d22c4","name":"add stuff to message","func":"msg.actionable = true\nmsg.msg = msg.door\nmsg.title = \"Snoozed Notification\"\nmsg.persistent = \"false\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1400,"y":460,"wires":[["510fb229.c31834"]]},{"id":"312b14db.58aebc","type":"server-state-changed","z":"7166c55e.1d22c4","name":"van door closed","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.van_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"clear_notification","valueType":"str"},{"property":"title","propertyType":"msg","value":"Van Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":250,"y":320,"wires":[["510fb229.c31834"],[]]},{"id":"dc60f8be.2e915","type":"server-state-changed","z":"7166c55e.1d22c4","name":"shop door closed","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.shop_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"clear_notification","valueType":"str"},{"property":"title","propertyType":"msg","value":"Shop Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":250,"y":360,"wires":[["510fb229.c31834"],[]]},{"id":"f5756be3.965f3","type":"server-state-changed","z":"7166c55e.1d22c4","name":"gym door closed","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"cover.gym_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"closed","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"clear_notification","valueType":"str"},{"property":"title","propertyType":"msg","value":"Gym Garage Door","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":250,"y":400,"wires":[["510fb229.c31834"],[]]},{"id":"b8a11ac6.c3e62","type":"server-state-changed","z":"7166c55e.1d22c4","name":"front door closed","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.front_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"seconds","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"clear_notification","valueType":"str"},{"property":"title","propertyType":"msg","value":"Front Door Open","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":250,"y":460,"wires":[["7d64405.3a3dbc"],[]]},{"id":"b2fff2c3.f0c2a","type":"server-state-changed","z":"7166c55e.1d22c4","name":"sliding door closed","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.sliding_door_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"actionable","propertyType":"msg","value":"true","valueType":"bool"},{"property":"door","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"msg","propertyType":"msg","value":"clear_notification","valueType":"str"},{"property":"title","propertyType":"msg","value":"Sliding Door Open","valueType":"str"},{"property":"persistent","propertyType":"msg","value":"false","valueType":"str"}],"x":260,"y":500,"wires":[["7d64405.3a3dbc"],[]]},{"id":"19f63eb4.704471","type":"api-current-state","z":"7166c55e.1d22c4","name":"check if door already closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{door}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1060,"y":60,"wires":[[],[]]},{"id":"9b27b9c7.1806e8","type":"api-current-state","z":"7166c55e.1d22c4","name":"check if door already closed","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{door}}","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":480,"wires":[[],["a914b085.62caf"]]},{"id":"4618d8bb.656848","type":"trigger-state","z":"2784646b.702864","name":"bill left work","server":"50f63922.acab88","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.bill_tahler","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Shipyard","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Shipyard","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":100,"wires":[[],[]]},{"id":"fdbd406.9d8a1c","type":"api-call-service","z":"2784646b.702864","name":"notify bill to open garage door","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"Open shop door in 5 minutes?\",\t   \"title\":\"Delayed opener\",\t   \"data\":{\t        \"tag\":\"billgarage\",\t        \"actions\":[{\"action\":\"openshop\",\t        \"title\":\"Yes\"}]\t   }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":850,"y":100,"wires":[[]]},{"id":"2b70c842.2a19e8","type":"looptimer","z":"2784646b.702864","duration":"1","units":"Minute","maxloops":"60","maxtimeout":"1","maxtimeoutunits":"Hour","name":"resend until 4pm","x":360,"y":100,"wires":[["d96edc4f.486f"],[]]},{"id":"d96edc4f.486f","type":"timecheck","z":"2784646b.702864","name":"is it after 350pm?","time":"15:50","x":590,"y":100,"wires":[["fdbd406.9d8a1c","df253c7b.3a09f8"],[]]},{"id":"ff48a7e1.a2e84","type":"server-events","z":"2784646b.702864","name":"action request from phone","server":"50f63922.acab88","version":1,"event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"waitForRunning":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"eventData"},{"property":"tag","propertyType":"msg","value":"$outputData(\"eventData\").event.tag","valueType":"jsonata"},{"property":"action","propertyType":"msg","value":"$outputData(\"eventData\").event.action","valueType":"jsonata"}],"x":110,"y":200,"wires":[["3f1b34ff.9211ec"]]},{"id":"701cf14.148911","type":"switch","z":"2784646b.702864","name":"openshop or cancelshop tag?","property":"action","propertyType":"msg","rules":[{"t":"eq","v":"openshop","vt":"str"},{"t":"eq","v":"cancelshop","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":200,"wires":[["2236d0c5.48b39","4ca5ca58.362574"],["5dd97ddf.b4eeb4"]]},{"id":"b69e3f6.46028c","type":"api-call-service","z":"2784646b.702864","name":"open the shop door","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.shop_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":900,"y":200,"wires":[["d1383cf3.323e7"]]},{"id":"2236d0c5.48b39","type":"delay","z":"2784646b.702864","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":200,"wires":[[]]},{"id":"df253c7b.3a09f8","type":"template","z":"2784646b.702864","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"STOP","output":"str","x":520,"y":20,"wires":[["2b70c842.2a19e8"]]},{"id":"9068a326.527bc","type":"inject","z":"2784646b.702864","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":640,"y":440,"wires":[["4ca5ca58.362574"]]},{"id":"ed2045ad.1c7a","type":"api-call-service","z":"2784646b.702864","name":"timer to open","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":280,"wires":[[]]},{"id":"5dd97ddf.b4eeb4","type":"template","z":"2784646b.702864","name":"","field":"reset","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"STOP","output":"str","x":460,"y":320,"wires":[["2236d0c5.48b39","d1383cf3.323e7"]]},{"id":"d1383cf3.323e7","type":"api-call-service","z":"2784646b.702864","name":"notify work phone","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_bill_work_pixel","entityId":"","data":"{\t   \"message\":\"clear_notification\",\t   \"data\":\t   {\t        \"tag\":\"billgarage\"\t    }\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":770,"y":340,"wires":[[]]},{"id":"3f1b34ff.9211ec","type":"switch","z":"2784646b.702864","name":"billgarage tag?","property":"tag","propertyType":"msg","rules":[{"t":"eq","v":"billgarage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":220,"y":280,"wires":[["701cf14.148911"]]},{"id":"4ca5ca58.362574","type":"function","z":"2784646b.702864","name":"set time for timer","func":"var t = Math.round((Date.now() / 1000) + 300)\nmsg.payload ={\n    data:\n{\n   message:\"Shop will open in \",\n   title:\"Countdown\",\n   data:{\n        tag:\"billgarage\",\n        chronometer:true,\n        when: t.toString(),\n        actions:[{action:\"cancelshop\",\n        title:\"Cancel\"}],\n        timeout:\"300\"\n   }\n}\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":280,"wires":[["ed2045ad.1c7a"]]},{"id":"541edd8.e3a4f24","type":"trigger-state","z":"2784646b.702864","name":"bill left work","server":"50f63922.acab88","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.bill_tahler","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"Shipyard","propertyValue":"old_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Shipyard","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":131.2727279663086,"y":392.3636474609375,"wires":[["2c98049f.3a2dec"],[]]},{"id":"2c98049f.3a2dec","type":"ha-wait-until","z":"2784646b.702864","name":"wait for bill home","server":"50f63922.acab88","version":0,"outputs":2,"entityId":"person.bill_tahler","entityIdFilterType":"exact","property":"state","comparator":"is","value":"home","valueType":"str","timeout":"60","timeoutType":"num","timeoutUnits":"minutes","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":250,"y":460,"wires":[[],[]]},{"id":"519d8a2.5ae0f74","type":"api-call-service","z":"2784646b.702864","name":"open the shop door","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.shop_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":450,"y":520,"wires":[[]]},{"id":"3c6ea001.b94c18","type":"trigger-state","z":"2784646b.702864","name":"bill returned home","server":"50f63922.acab88","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.bill_tahler","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":620,"wires":[["d284f21e.d0b128","7976124b.3ee364"],[]]},{"id":"d284f21e.d0b128","type":"api-current-state","z":"2784646b.702864","name":"cam pixel connected to prius?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.pixel_3_bluetooth_connection","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":700,"wires":[["a04a5d5a.e52b08"],[]]},{"id":"7976124b.3ee364","type":"api-current-state","z":"2784646b.702864","name":"work pixel connected to prius?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.pixel_3_bluetooth_connection","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":620,"wires":[["a04a5d5a.e52b08"],[]]},{"id":"a04a5d5a.e52b08","type":"switch","z":"2784646b.702864","name":"check which device","property":"data.attributes.connected_paired_devices","propertyType":"msg","rules":[{"t":"cont","v":"D4:4D:A4:1B:AD:1A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":660,"wires":[[],[]]},{"id":"d2520108.c5142","type":"api-call-service","z":"2784646b.702864","name":"open the shop door","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"cover","service":"open_cover","entityId":"cover.shop_door","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1000,"y":660,"wires":[[]]},{"id":"874a4934.b5035","type":"template","z":"881cc9f2.39273","name":"","field":"service","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mobile_app_bill_work_pixel","output":"str","x":590,"y":120,"wires":[["8ed4bee2.6bd3f"]]},{"id":"568de398.31b5c4","type":"template","z":"881cc9f2.39273","name":"","field":"service","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"mobile_app_pixel_3","output":"str","x":590,"y":160,"wires":[["8ed4bee2.6bd3f"]]},{"id":"31916d83.3a157a","type":"trigger-state","z":"2784646b.702864","name":"cassie returned home","server":"50f63922.acab88","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.cassie","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"new_state.state"},{"targetType":"this_entity","targetValue":"","propertyType":"previous_state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home","propertyValue":"old_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":120,"y":840,"wires":[["79d377cd.74995"],[]]},{"id":"79d377cd.74995","type":"api-current-state","z":"2784646b.702864","name":"cassie pixel connected to prius?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"1","halt_if_type":"num","halt_if_compare":"gte","entity_id":"sensor.cassie_pixel_3_bluetooth_connection","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":840,"wires":[["a04a5d5a.e52b08"],[]]},{"id":"67c9efc2.621508","type":"trigger-state","z":"8db8071b.d417c8","name":"update available","server":"50f63922.acab88","version":0,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.updater","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"targetType":"this_entity","targetValue":"","propertyType":"current_state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on","propertyValue":"new_state.state"}],"outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":150,"y":120,"wires":[["b9d4c3e6.d6c8"],[]]},{"id":"4a9e2a16.0081ec","type":"subflow:881cc9f2.39273","z":"8db8071b.d417c8","name":"","x":680,"y":120,"wires":[[]]},{"id":"b9d4c3e6.d6c8","type":"function","z":"8db8071b.d417c8","name":"create message","func":"msg.message = {\n    data: {\n        message: \"click for release notes\",\n        title: \"Version \" + msg.data.event.new_state.attributes.newest_version + \" available\",\n        data: {\n            clickAction: msg.data.event.new_state.attributes.release_notes,\n            icon_url: \"/media/local/icons/update.png\",\n            color: \"yellow\"\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["4a9e2a16.0081ec"]]},{"id":"8ed4bee2.6bd3f","type":"change","z":"881cc9f2.39273","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":80,"wires":[["baee501d.5bbfa"]]},{"id":"bdd55f51aca67627","type":"server-state-changed","z":"97bc9b28.34dc18","name":"work phone un-silenced","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.oneplus8_do_not_disturb_sensor","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":540,"wires":[["234ca4b.f0084dc"],[]]},{"id":"972d9b2552fe9bf2","type":"time-range-switch","z":"97bc9b28.34dc18","name":"is it morning?","lat":"47.572373","lon":"-122.579473","startTime":"04:00","endTime":"08:00","startOffset":0,"endOffset":0,"x":950,"y":1080,"wires":[["1f6753dca0b29a30"],[]]},{"id":"c88bac616f4cdf35","type":"api-current-state","z":"97bc9b28.34dc18","name":"mode is night","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":530,"y":500,"wires":[["ad6e29134ee4255e"],[]]},{"id":"1f6753dca0b29a30","type":"api-current-state","z":"97bc9b28.34dc18","name":"mode is night","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"night","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1120,"y":1060,"wires":[["b8f02bb290bf3a37"],[]]},{"id":"c3f11569e422c68d","type":"api-current-state","z":"97bc9b28.34dc18","name":"check if sim inserted","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Visible","halt_if_type":"str","halt_if_compare":"is","entity_id":"","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":480,"y":1140,"wires":[["777eced45ecb0a61"],[]]},{"id":"ed2180b4c4d97a10","type":"server-state-changed","z":"97bc9b28.34dc18","name":"bill work phone not charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.oneplus8_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sim","propertyType":"msg","value":"sensor.bill_work_pixel_sim_1","valueType":"str"}],"x":200,"y":1100,"wires":[["c3f11569e422c68d"],[]]},{"id":"e4c257246c2931e8","type":"server-state-changed","z":"97bc9b28.34dc18","name":"bill cam phone not charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.pixel_3_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.pixel_3_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sim","propertyType":"msg","value":"sensor.pixel_3_sim_1","valueType":"str"}],"x":180,"y":1160,"wires":[["c3f11569e422c68d"],[]]},{"id":"777eced45ecb0a61","type":"api-current-state","z":"97bc9b28.34dc18","name":"is cass phone charging","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.cassie_pixel_4_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":720,"y":1140,"wires":[["972d9b2552fe9bf2"],[]]},{"id":"c20ce879bf8a6759","type":"server-state-changed","z":"97bc9b28.34dc18","name":"cassie phone not charging","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.cassie_pixel_4_is_charging","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":170,"y":980,"wires":[["294328d6c865dc42","ce085952b526d380"],[]]},{"id":"d50dc29351fa5069","type":"api-current-state","z":"97bc9b28.34dc18","name":"check if sim inserted","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"Visible","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.oneplus8_sim_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":1000,"wires":[["972d9b2552fe9bf2"],[]]},{"id":"294328d6c865dc42","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill work phone not charging?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.oneplus8_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":960,"wires":[["d50dc29351fa5069"],[]]},{"id":"ce085952b526d380","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill cam phone not charging?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.pixel_3_is_charging","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.pixel_3_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":470,"y":1020,"wires":[["d50dc29351fa5069"],[]]},{"id":"ad6e29134ee4255e","type":"api-call-service","z":"97bc9b28.34dc18","name":"turn on some lights","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.kitchen_counter_lights, light.desk_lamp","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":780,"y":500,"wires":[[]]},{"id":"e3deaf5f8ca8cf40","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill home?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.bill_tahler","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":350,"y":800,"wires":[["8ee2ff7.fa9aa8","6cd73bd.e184344"],[]]},{"id":"338551ee8ba58f2b","type":"api-current-state","z":"97bc9b28.34dc18","name":"is cassie home?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.cassie","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":860,"wires":[["e3deaf5f8ca8cf40"],[]]},{"id":"2b461e13e85ebb8c","type":"api-current-state","z":"97bc9b28.34dc18","name":"is bill home?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.bill_tahler","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":610,"y":680,"wires":[["06caa430729d839a"],[]]},{"id":"06caa430729d839a","type":"api-current-state","z":"97bc9b28.34dc18","name":"is cassie home?","server":"50f63922.acab88","version":2,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"person.cassie","state_type":"str","blockInputOverrides":true,"outputProperties":[{"property":"payload","propertyType":"msg","value":"{\"entity_id\": \"sensor.oneplus8_sim_1\"}","valueType":"jsonata"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":800,"y":680,"wires":[["bbcfa7cb.091468"],["2b238e47.39242a"]]},{"id":"b8f02bb290bf3a37","type":"api-call-service","z":"97bc9b28.34dc18","name":"goodmorning","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.goodnight","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1370,"y":1060,"wires":[[]]},{"id":"fdd4d159481fc965","type":"server-state-changed","z":"56bec6bf1af01dfa","name":"replay","server":"50fbbd92.c2c264","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.replay_","entityidfiltertype":"substring","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":300,"wires":[["27f70d3109bb22c4"]]},{"id":"27f70d3109bb22c4","type":"api-current-state","z":"56bec6bf1af01dfa","name":"vacation mode","server":"50fbbd92.c2c264","version":2,"outputs":2,"halt_if":"vacation","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_select.mode","state_type":"str","blockInputOverrides":false,"outputProperties":[],"override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":300,"wires":[["a4368dabad5d8e58"],[]]},{"id":"6439dc0bb090376e","type":"change","z":"56bec6bf1af01dfa","name":"state","rules":[{"t":"change","p":"payload","pt":"msg","from":"1","fromt":"str","to":"on","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"0","fromt":"str","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":400,"wires":[["6a4c2a7db6b5e8a9"]]},{"id":"6a4c2a7db6b5e8a9","type":"api-call-service","z":"56bec6bf1af01dfa","name":"change lighting","server":"50fbbd92.c2c264","version":3,"debugenabled":false,"service_domain":"light","service":"turn_{{payload}}","entityId":"{{topic}}","data":"","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":560,"wires":[[]]},{"id":"a4368dabad5d8e58","type":"change","z":"56bec6bf1af01dfa","name":"","rules":[{"t":"change","p":"topic","pt":"msg","from":"sensor.replay_","fromt":"str","to":"light.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":240,"wires":[["6439dc0bb090376e"]]},{"id":"d536b60dabc63581","type":"server-state-changed","z":"1149698b09937680","name":"smoke detected","server":"50f63922.acab88","version":3,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.smoke_detector","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"smoke","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":180,"y":320,"wires":[["131e0eb2c6e00486"],[]]},{"id":"131e0eb2c6e00486","type":"api-call-service","z":"1149698b09937680","name":"notify me","server":"50f63922.acab88","version":3,"debugenabled":false,"service_domain":"notify","service":"mobile_app_oneplus8","entityId":"","data":"{\t   \"message\":\"SMOKE DETECTED\",\t   \"title\":\"WARNING\",\t}","dataType":"jsonata","mergecontext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":390,"y":320,"wires":[[]]}]